/*** VSCodeEDU preview fix 

  Purpose:
  - Fix VSCodeEDU issue that causes a white border to show around
    the preview window

  When To Modify:
  - If you change the background color of your webpage, you may need to update this rule too.
***/
html {
 /* background-color: var(--bg-color); */
}

/*** body ***
  
  Purpose:
  - Add style rules for the body of your webpage
  - This is useful if you want a rule to apply to EVERYTHING on your page
    - (Tip: You can always override these rules later in the stylesheet)

  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
  - [ ] Any time after
***/



body {
    /* Add a background color or image */
    background-color: var(--bg-color); /* see bottom of file for color variables */

    height: 100%;
    width: 100%;

    /* Customize the default size, color, and font for text*/
    font-size: 16px;
    color: var(--text-color);
    font-family: 'Roboto Regular', sans-serif, sans-serif; /* This tells the browser: "Try to use `Tahoma`, and if you can't find it, use any sans-serif font." */

    /* Put space around the edges of the webpage */
    margin: 0px;
    padding: 50px;
}

/*** Text ***
  
  Purpose: 
  - Add style rules for headings (h1-6),
    paragraphs (p), links (a), and buttons

  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

h1 {
    font-size: 40px;
    font-weight: bolder;
    color: #FA4996;
}

h2 {
   font-size: 35px; 
   font-weight: bold;
   color: #FA4996;
}

h3 {
    font-size: 30px;
    color: #FF709D;
}

h4 {
    font-size: 25px;
    color: #FF709D;
}

p {
    font-size: 18px;  
}

a,
a * {
    
}

button {
    /* Example Style, replace with your own! */
    background-color: #FF709D;    /* button color */
    color: #351547;               /* text color */
    border: none;               /* hides the default border */
    padding: 5px 12px;          /* space between button's text and edge */
    border-radius: 5px;         /* curved edges instead of square */
    cursor: pointer;            /* makes the cursor change when over button */
}

button:hover {
    background-color: #FA4996; /* Make the button look different when the user hovers over it */
}

img{
  border-radius: 20px;
  border: 3px solid pink;
}

/*** header ***
  
  Purpose:
  - Add style rules for your website's header section

  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
  - [X] Project 4 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

.header-container { /* Example A: This styles elements with class="header" */
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 50px;
    margin-bottom: 50px;
}

.header-item:nth-of-type(1) {
  width: 20%;
  margin-right: 100px;
}

.header-item:nth-of-type(2) {
  width: 80%;
}

#header-img {
  display: flex;
  margin-left: 20px;
  margin-right: 50px;
  max-width: 200px;
  border-style: none;
}

.header-button {
  background-color: #FF709D;
  text-align: center;
  font-size: 15px;
  color: #351547; 
  cursor: pointer;
}

/*** footer ***
  
  Purpose:
  - Add style rules for your website's footer section

  When To Modify:
  - [ ] Project 3 (STRETCH FEATURE) 
  - [ ] Any time after
***/

.footer { /* Example B: This styles elements with class="footer" */
    
}

/*** Navigation bar (navbar) ***
  
  Purpose:
  - Add style rules for your website's navbar

  When To Modify:
  - [X] Project 4 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

.navbar ul {
    z-index: 1000; /* Ensures the navbar is on top of other elements */
    overflow: hidden;
    position: fixed;
    margin-top: 0px;
    padding-top: 10px;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 50px;
    background-color: pink;

    
}

.navbar ul li {
    float: left;
    margin: 10px;
    color: pink;
}

.navbar ul li a {
    display: block;
    text-decoration: none;
}

.navbar ul li a:hover {
 text-decoration: underline;
}

.navbar ul li button {
color: #ff709d;
background-color: #fffdfe;
}

/*** About Section ***
  
  Purpose:
  - Add style rules for your website's About section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/


/*** Schedule Section ***
  
  Purpose:
  - Add style rules for your website's Schedule section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/


/*** Links Section ***
  
  Purpose:
  - Add style rules for your website's Links section

  When To Modify:
  - [X] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/


a:link {
  color: #ff709d;
  text-decoration: none;
}

a:visited {
  color: rgb(68, 18, 110);
}


a:hover {
  color: #FA4996;
  text-decoration: underline;
}


a:active {
  color: rgb(16, 16, 204); 
}

/*** RSVP [PLACEHOLDER] [ADDED IN UNIT 6] ***/
.rsvp-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  padding-bottom: 50px;
}
rsvp-para {
  width: 55%;
  padding-right: 10px;
}

rsvp-participants {
  width: 45%;
  padding-right: 10px;
}


/*** Animations  ***
  
  Purpose:
  - Add style rules to enable scroll animations for your website

  When To Modify:
  - [ ] Project 8 (REQUIRED FEATURE)
  - [ ] Any time after
***/

.revealable {
  --reveal-distance: 120px; /* CSS Variable */

  scroll-margin-top: var(--reveal-distance);
  opacity: 0;
  transition: all 0.8s ease;
  position: relative;
  transform: translateY(var(--reveal-distance));
}

.active {
  scroll-margin-top: 0;
  transform: translateY(0);
  opacity: 1;
}

/*** Success Modal  ***
  
  Purpose:
  - Add style rules to your website's pop-up modal, which appears
    when a user successfully submits the RSVP form

  When To Modify:
  - [ ] Project 9 (REQUIRED FEATURE)
  - [ ] Any time after
***/

.modal {
  display: none;   /* modal should be hidden by default*/
  position: fixed; /* modal cannot move around the screen */
  z-index: 2;      /* modal appears above other elements */ 
  
  /* TODO: Make the modal fill the entire screen */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  /* Add a semi-transparent background to shadow non-modal elements*/
  background-color: rgba(0,0,0,0.4); /* 40% opacity black */

  /* Flexbox settings for modal */
  /* These won't apply until we update "display:" from "hidden" to "flex" in our JS */
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

.modal-container {
    /* Change modal size and spacing here */
    padding: 50px;
    width: 75%;
    height: 50%;

    /* Customize modal style here */
    background-color: var(--accent-color-green);
    color: var(--text-color);
    text-align: center;
    font-size: 1rem;
    font-family: papyrus;

    /* Optional: Use flexbox to customize .modal-item layout */
    display: flex;

}

.dark-mode .modal-container {

  background-color: #2f2d4a;
  color: var(--text-color-dark-mode);
}

#modal-item {
    /* Optional: Style individual elements within the modal */
}

#modal-img {
  border-style: none;
}
/* Default dark mode style */
.dark-mode {

background-color: var(--bg-color-dark-mode);
color: var(--text-color-dark-mode);

}

.dark-mode img {
  border-color: var(--accent-color-dark);
}
/* Example: Different dark mode style for h1 */
.dark-mode h1 {
    color: var(--text-color-dark-mode);
}

.dark-mode h2 {
    color: var(--text-color-dark-mode);
}

.dark-mode h3 {
    color: var(--text-color-dark-mode);
}

.dark-mode h4 {
    color: var(--text-color-dark-mode);
}

.dark-mode h5 {
    color: var(--text-color-dark-mode);
}

.dark-mode h6 {
    color: var(--text-color-dark-mode);
}

.dark-mode .navbar ul {
  background-color: #2f2d4a;

}

.dark-mode .navbar ul li {
    float: left;
    margin: 10px;
    color: #2f2d4a;
}



/* Example: Different dark mode style for visited links */
.dark-mode a:visited * {

}

.error {
  border-style: solid;
  border-width: 2px;
  border-color: var(--error-color-border);
  background-color: var(--error-color);

  /* Set border-color and background */
}


/*** Custom Colors (OPTIONAL) ***
  
  Purpose:
  - Use CSS variables to define custom colors for your website
  - To get you started, we've provided the color scheme used in our example site.
  - To reference a color variable in your css, use var(--variable-name) in place of a color value

  When To Modify:
  - [ ] Any time (OPTIONAL)
***/

:root {
    /* Light Mode */
    --bg-color: #c5ffd0;
    --text-color: #351547;

    /* Dark Mode */
    --bg-color-dark-mode: #18152a;
    --text-color-dark-mode: #ebd7ff;

    /* Accent Colors */
    --accent-color-light: #d2cff5;
    --accent-color-medium: #684fb5;
    --accent-color-dark: #482f95;
    --accent-color-darkest: #231942;
    --accent-color-green: #28eb76;

    /* Error Colors */
    --error-color: #f8bbd0;
    --error-color-border: #e63946;
}

